@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.layout {
  @apply flex flex-col font-inter;
}

.bold {
  @apply font-semibold;
}

.infoLayout {
  @apply flex items-center justify-between lg:flex-col;
}

.pricingStyle {
  @apply flex flex-col items-end lg:items-start;
}

.priceText {
  @apply text-[22px] font-semibold text-slate-900 lg:text-[28px];
}

.discountText {
  @apply text-[12px] font-semibold text-red-500 lg:flex lg:flex-row-reverse lg:gap-2 lg:items-center lg:text-[14px];
}

.ogPrice {
  @apply text-[14px] font-normal text-zinc-400;
}

.ratingLayout {
  @apply flex items-center gap-1 text-xs;
}

.ratingImg {
  @apply w-[15px] h-[15px];
}

.detailsLayout {
  @apply flex flex-col gap-5;
}

.productDesc {
  @apply text-zinc-400 text-[13px] lg:mt-2;
}

.seeMore {
  @apply text-zinc-700;
}

.hideOnWeb {
  @apply lg:hidden;
}

.hideOnMobile {
  @apply hidden lg:flex;
}

.pricingLayout {
  @apply lg:flex lg:gap-3;
}

.variantLayout {
  @apply flex flex-col gap-5;
}

.variantCard {
  @apply flex flex-col gap-3;
}

.active {
  @apply bg-[#2D2D2D] text-white border-[#2D2D2D];
}

.variantHeader {
  @apply flex justify-between;
}

.variantTitle {
  @apply text-base font-semibold;
}

.variantOptions {
  @apply text-sm text-zinc-400 lg:hidden;
}

.quantityLabel {
  @apply text-base font-semibold;
}

.quantityBtn {
  @apply h-8 w-8 border-r-[2px] border-l-[2px] border-zinc-200 text-lg font-semibold rounded-lg;
}

.disableBtn {
  @apply pointer-events-none text-zinc-200;
}

.socialAnim {
  animation: vertical-scroll 10s infinite;
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100);
  }
}

.overflowText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.overflowTextWeb {
  overflow: visible;
  display: inline;
  -webkit-line-clamp: 1;
  white-space: nowrap;
}

@media (max-width: 640px) {
  .overflowText {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

span:has(img){
  display: grid; 
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  gap: 10px;
}
